@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Local Fonts
*/
/* Gen Sen Rounded */
@font-face {
  font-family: 'GenSenRounded';
  src: url('./fonts/GenSenRounded-B.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'GenSenRounded';
  src: url('./fonts/GenSenRounded-M.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'GenSenRounded';
  src: url('./fonts/GenSenRounded-R.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'GenSenRounded';
  src: url('./fonts/GenSenRounded-L.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
}
/* Fira Code */
@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Light.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
}

:root {
  --font-GenSenRounded: 'GenSenRounded', sans-serif;
  --font-FiraCode: 'FiraCode', monospace;
}

body,
html {
  @apply min-h-full bg-gray-50 text-neutral-950 font-[GenSenRounded] font-normal;
}

h1,
h2,
h3,
h4 {
  @apply text-primary;
}

::selection {
  @apply bg-primary text-white;
}

::-webkit-scrollbar {
  @apply w-[8px] h-[8px];
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-2;
}
