@import '__mixins.scss';

:root.is-megamenu-open {
  #main,
  #g-footer {
    @apply blur-md;
  }

  .g-header {
    @apply translate-y-0;
  }
}

// *** Header ***
.g-header {
  @apply c fixed top-0 w-full py-4 transition-all duration-400 isolate z-header;

  &.is-scrolled {
    @apply py-2 bg-white shadow-sm;

    .g-header__logo {
      &__text {
        @apply -translate-x-[40px];
      }
      &__img {
        @apply scale-0 opacity-0;
      }
    }
  }

  &.is-scrolling-down {
    @apply -translate-y-full;
  }

  &__container {
    @apply flex justify-between items-center;
  }

  &__logo {
    @apply flex items-center gap-4;

    &__img {
      @apply -translate-y-[1px] scale-100 origin-left transition duration-400;
    }

    &__text {
      @apply font-mono font-semibold translate-x-0 transition-transform duration-400;
    }
  }

  &__desktop {
    @apply hidden md:flex md:gap-6 text-sm;
  }

  &__mobile {
    @apply grid place-content-center md:hidden;
  }

  &__overlay {
    @apply fixed top-0 left-0 w-[100%] h-screen z-10;
  }

  &__megamenu-trigger {
    @apply relative text-gray-500 hover:text-secondary transition-colors duration-200 whitespace-nowrap;
  }

  &__normal-link {
    @apply p-1 transition-colors whitespace-nowrap;
  }
}

// *** Posts Megamenu ***
.g-header__posts-megamenu {
  @apply max-h-[80vh] overflow-auto p-4 grid grid-cols-3 fixed top-[calc(var(--header-height)_+_16px)] rounded-md bg-header shadow-md translate-y-10 opacity-0 pointer-events-none transition duration-200 z-10;

  &.is-active {
    @apply translate-y-0 opacity-100 pointer-events-auto;
  }

  @include breakpoint('md') {
    left: var(--s-edge-dynamic);
    right: var(--s-edge-dynamic);
  }

  @include breakpoint('lg') {
    left: min(calc(3 * var(--s-edge-dynamic)), 15vw);
    right: min(calc(3 * var(--s-edge-dynamic)), 15vw);
  }

  &__link {
    @apply block h-full p-4 rounded-md transition border border-transparent hover:border-secondary;
  }

  &__categories {
    @apply absolute bottom-2 left-0 mx-4 py-2 flex gap-1 overflow-y-auto text-gray-600 select-none scrollbar-thumb-[#00000033] active:scrollbar-thumb-primary scrollbar-thumb-rounded-full scrollbar-h-1;

    &::-webkit-scrollbar {
      height: 0.25em;
    }

    &__link {
      @apply inline-block py-1 px-2.5 text-xs rounded-full transition bg-gray-200 hover:bg-secondary hover:text-white;
    }
  }
}

// *** Mobile Menu ***
.g-header__mobile-menu {
  @apply fixed left-0 w-full bg-header;

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.6s var(--t-circ-ease-in-out);

  &.is-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  &__content {
    @apply c flex flex-col h-full py-4 text-body text-primary overflow-y-auto;
  }

  &__accordion {
    @apply border-b border-primary;

    &__link {
      @apply block p-4 font-semibold;
    }

    &__list {
      @apply flex flex-col ml-6 mt-2 mb-8 gap-2;
    }
  }

  &__link {
    @apply block p-4 font-semibold border-b border-primary;
  }
}

// *** Mobile Menu Trigger ***
.g-header__mobile-menu__trigger {
  @apply relative w-[24px] h-[16px] cursor-pointer;

  &::before,
  &::after {
    @apply absolute w-full h-[3px] bg-neutral-900 rounded-[6px];

    content: '';
    transform: translateY(0px) scale(1) rotate(0);
  }

  &::after {
    @apply top-0 left-0;
    animation: reverse-top-line 0.6s ease-in-out forwards;
  }

  &::before {
    @apply w-[80%] bottom-0 right-0;
    animation: reverse-bottom-line 0.6s ease-in-out forwards;
  }

  &.is-open {
    &::after {
      transform: translateY(5px) scale(1) rotate(-45deg);
      animation: is-open-top-line 0.6s ease-in-out forwards;
    }

    &::before {
      transform: translateY(-5px) scale(1) rotate(45deg);
      animation: is-open-bottom-line 0.6s ease-in-out forwards;
    }
  }

  &.is-initial {
    &::after,
    &::before {
      animation-duration: 0s;
    }
  }

  @keyframes is-open-top-line {
    0% {
      transform: translateY(0px) scale(1) rotate(0);
    }

    50% {
      transform: translateY(-5px) scale(1.1) rotate(0);
    }

    100% {
      transform: translateY(6px) scale(1) rotate(-45deg);
    }
  }

  @keyframes is-open-bottom-line {
    0% {
      width: 80%;
      transform: translateY(0px) scale(1) rotate(0);
    }

    50% {
      width: 100%;
      transform: translateY(5px) scale(1.1) rotate(0);
    }

    100% {
      width: 100%;
      transform: translateY(-6px) scale(1) rotate(45deg);
    }
  }

  @keyframes reverse-top-line {
    0% {
      transform: translateY(5px) scale(1) rotate(-45deg);
    }

    50% {
      transform: translateY(-5px) scale(1.1) rotate(0);
    }

    100% {
      transform: translateY(0px) scale(1) rotate(0);
    }
  }

  @keyframes reverse-bottom-line {
    0% {
      width: 100%;
      transform: translateY(-5px) scale(1) rotate(45deg);
    }

    50% {
      width: 100%;
      transform: translateY(5px) scale(1.1) rotate(0);
    }

    100% {
      width: 80%;
      transform: translateY(0px) scale(1) rotate(0);
    }
  }
}
