.m-product {
  &__announcement {
    @apply fixed left-0 top-0 z-header flex w-full justify-center gap-1 bg-secondary py-1 text-sm text-white;
  }

  &__heading {
    @apply mx-auto mb-6 max-w-md text-center text-3xl font-bold sm:max-w-none sm:text-4xl md:text-5xl;
    line-height: 1.5em;
  }

  &__subheading {
    @apply text-center tracking-[0.2em];
  }

  &__paragraph {
    @apply mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-body-light;
  }
}

.m-product__hero {
  @apply flex w-full flex-col items-center justify-start pt-16 c sm:pt-24 md:pt-48;

  &__heading {
    @apply text-center text-4xl font-bold leading-tight text-primary sm:text-5xl md:text-6xl;
  }

  &__paragraph {
    @apply mx-auto mt-8 max-w-xl text-balance text-center text-lg leading-7 sm:text-xl sm:leading-9;
  }

  &__cta {
    @apply mt-8 flex items-center justify-center whitespace-nowrap rounded-sm bg-secondary px-10 py-2 text-white shadow transition duration-200 hover:scale-102 hover:bg-secondary-2 hover:shadow-xl disabled:pointer-events-none;
  }

  &__media {
    @apply mt-16 max-w-4xl;
  }
}

.m-product__problems {
  @apply mt-48 c;

  &__list {
    @apply mt-16 flex flex-col items-center justify-center gap-8 md:flex-row;
  }

  &__problem {
    @apply max-w-xs space-y-4 p-4;

    &__icon {
      @apply flex h-12 w-12 items-center justify-center rounded-full bg-secondary p-2.5 text-white;
    }

    &__heading {
      @apply text-2xl;
    }
  }
}

.m-product__solutions {
  @apply mt-48 bg-neutral-100 py-24 c;

  &__solutions {
    @apply mx-auto mt-16 grid grid-cols-1 gap-6 text-body-light md:max-w-3xl md:grid-cols-2 md:grid-rows-3 xl:max-w-6xl xl:auto-rows-fr xl:grid-cols-3 xl:grid-rows-2;
  }

  &__solution {
    @apply relative flex flex-col overflow-hidden rounded-2xl bg-pure-white p-6 transition-all duration-500;

    &:nth-child(1),
    &:nth-child(2) {
      @apply justify-between;
    }

    &:nth-child(1) {
      @apply order-1 xl:order-none;
    }

    &:nth-child(2) {
      @apply order-3 xl:order-none;
    }

    &:nth-child(3) {
      @apply order-2 row-span-2 xl:order-none;

      .m-product__solutions__solution__media {
        @apply h-full translate-x-6;

        img {
          @apply h-full object-cover object-left-top;
        }
      }
    }

    &:nth-child(4) {
      @apply order-4 md:col-span-2 xl:order-none;

      .m-product__solutions__solution__media {
        @apply mx-auto max-w-md;
      }
    }

    &:hover {
      @apply bg-secondary-2;

      .m-product__solutions__solution {
        &__paragraph,
        &__heading {
          @apply text-white;
        }
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4) {
        .m-product__solutions__solution__media {
          @apply -translate-y-4;
        }
      }

      &:nth-child(3) {
        .m-product__solutions__solution__media {
          @apply -translate-x-0;
        }
      }
    }

    &__heading {
      @apply mb-2 font-semibold text-primary;
    }

    &__paragraph,
    &__heading {
      @apply transition duration-500;
    }

    &__media {
      @apply -mb-7 mt-8 w-full select-none drop-shadow-[0_0_28px_rgba(0,0,0,.1)] transition-transform duration-500;
    }
  }
}

.m-product__steps {
  @apply mt-48 c;

  &__list {
    @apply -mx-edge-dynamic;

    &__item {
      @apply flex flex-col items-center gap-8 pt-16 c;
    }

    &__header {
      @apply flex -translate-x-6 items-center gap-8;
    }

    &__content {
      &__heading {
        @apply text-xl font-bold;
      }

      ul {
        @apply mt-2 list-inside list-disc text-body-light;
      }
    }

    &__media {
      @apply w-[90%] drop-shadow-[0_0_14px_rgba(0,0,0,.1)];
    }
  }

  // desktop
  @include breakpoint('lg') {
    &__list {
      @apply flex items-center justify-center gap-12 pt-12 xl:pt-16;

      &__contents {
        @apply flex max-w-sm flex-col gap-4;
      }

      &__header {
        @apply relative translate-x-0 rounded-md py-2 pl-12 pr-14 transition-colors duration-500;

        &::before,
        &::after {
          @apply absolute left-0 top-0 h-full w-1 rounded-md;
          content: '';
        }

        &::before {
          @apply bg-neutral-100;
        }

        &::after {
          @apply origin-top scale-y-0 bg-secondary-2 transition-transform duration-500;
        }

        &.is-active {
          @apply bg-neutral-100;

          &::after {
            @apply scale-y-100;
          }
        }
      }

      &__medias {
        @apply grid w-full max-w-2xl flex-1;
      }

      &__media {
        @apply opacity-0 blur-md drop-shadow-[0_0_28px_rgba(0,0,0,.1)] transition-all duration-500 ease-linear;

        grid-area: 1/1/2/2;

        &.is-active {
          @apply opacity-100 blur-none;
        }
      }
    }
  }
}

.m-product__features {
  @apply mt-48 c;

  &__body {
    @apply -mx-edge-dynamic;
  }

  &__item {
    @apply mt-8 flex flex-col items-center text-center c;

    &__icon {
      @apply mx-auto mb-4;
    }

    &__heading {
      @apply text-xl font-bold;
    }

    &__paragraph {
      @apply mt-2 text-body-light;
    }

    &__media {
      @apply mt-4;
    }
  }

  @include breakpoint('lg') {
    &__body {
      @apply mx-0;
    }

    &__contents {
      @apply flex items-center justify-center gap-12;
    }

    &__item {
      @apply relative max-w-sm rounded-md px-4 pb-8 pt-4 text-center transition-colors duration-500;

      &::before,
      &::after {
        @apply absolute bottom-0 left-0 h-1 w-full rounded-md;
        content: '';
      }

      &::before {
        @apply bg-neutral-100;
      }

      &::after {
        @apply scale-x-0 bg-secondary-2 transition-transform duration-500;
      }

      &::after {
        @apply origin-center;
      }

      &.is-active {
        @apply bg-neutral-100;
        &::after {
          @apply scale-x-100;
        }
      }
    }

    &__medias {
      @apply mx-auto mt-16 grid max-w-4xl;
    }

    &__media {
      @apply opacity-0 blur-md drop-shadow-[0_0_14px_rgba(0,0,0,.1)] transition-all duration-500 ease-linear;
      grid-area: 1/1/2/2;

      &.is-active {
        @apply opacity-100 blur-none drop-shadow-[0_0_28px_rgba(0,0,0,.1)];
      }
    }
  }
}

.m-product__about {
  @apply mt-48 c;

  &__content {
    @apply mx-auto my-8 flex max-w-4xl flex-col items-center justify-between gap-8 md:my-24 md:flex-row md:gap-16;

    .m-product__paragraph {
      @apply m-0 md:text-left;
    }
  }

  &__media {
    @apply max-w-xs drop-shadow-[0_0_14px_rgba(0,0,0,.1)];

    aspect-ratio: 1/1 !important;
  }

  &__achievements {
    @apply mt-12 grid grid-cols-[repeat(1,minmax(0,240px))] justify-center gap-8 md:grid-cols-[repeat(2,minmax(0,240px))] lg:grid-cols-[repeat(4,minmax(0,240px))];
  }

  &__achievement {
    @apply flex w-full grow items-center justify-center gap-2 rounded-md bg-pure-white px-4 py-8 drop-shadow-[0_0_14px_rgba(0,0,0,.1)] md:py-12 lg:py-16;

    &__value {
      @apply flex items-center gap-1 font-semibold text-secondary;
      font-size: clamp(32px, 2vw, 40px);
    }

    &__paragraph {
      @apply text-body-light;
    }
  }
}

.m-product__pricing {
  @apply mt-48 c;

  &__plans {
    @apply mt-12 flex flex-col items-center justify-center gap-8 md:flex-row md:items-stretch;
  }

  &__item {
    @apply flex w-full max-w-sm grow flex-col rounded-md border-2 border-transparent bg-pure-white px-4 py-8 drop-shadow-[0_0_14px_rgba(0,0,0,.1)] transition-all duration-500 md:py-12 lg:py-16;

    @include hover {
      @apply -translate-y-4 border-secondary-2;
    }

    &__heading {
      @apply mb-4 self-center text-lg text-body-light;
    }

    &__price {
      @apply flex items-baseline gap-2 self-center;

      &__discounted {
        @apply text-4xl font-bold text-primary md:text-5xl;
      }

      &__original {
        @apply text-sm line-through md:text-body;
      }
    }

    &__features {
      @apply my-8 border-y border-neutral-200 py-8;
    }

    &__cta {
      @apply flex items-center justify-center whitespace-nowrap rounded-sm bg-secondary px-10 py-2 text-white shadow transition duration-200 hover:bg-secondary-2 disabled:pointer-events-none;
    }
  }
}

.m-product__testimonials {
  @apply mt-24 bg-neutral-100 py-24 c;

  &__list {
    @apply -mx-edge-dynamic mt-8;
  }

  &__item {
    @apply flex max-w-xs flex-col justify-between self-stretch rounded-md bg-pure-white p-6 shadow-[0_0_14px_rgba(0,0,0,.1)];
  }

  &__author {
    @apply mt-4 grid text-sm text-body-light;

    grid-template-areas:
      'avatar name'
      'avatar role';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
  }

  &__avatar {
    @apply mr-2 size-9 self-center rounded-full bg-neutral-100 p-2;
    grid-area: avatar;
  }

  &__name {
    @apply font-semibold;
    grid-area: name;
  }

  &__role {
    grid-area: role;
  }

  .c-carousel {
    &__viewport.disable-draggable {
      .c-carousel__container {
        @apply justify-center;
      }
    }
  }

  @include breakpoint('lg') {
    &__item {
      @apply max-w-sm;
    }
  }
}

.m-product__faqs {
  @apply mt-48 c;

  &__list {
    @apply mx-auto flex max-w-2xl flex-col py-16;

    &__item {
      @apply border-b-2 border-neutral-200;

      &.is-active {
        .m-product__faqs__list__answer {
          @apply pb-2;
        }
      }
    }

    &__heading {
      @apply py-4 text-lg text-primary md:text-xl;
    }

    &__answer {
      @apply pt-0 transition-all duration-500;
    }
  }
}
