.m-product {
  &__heading {
    @apply max-w-md mb-6 mx-auto text-3xl font-bold text-center sm:max-w-none sm:text-4xl md:text-5xl;
    line-height: 1.5em;
  }

  &__paragraph {
    @apply max-w-2xl mx-auto mt-6 text-center text-lg leading-8 text-body-light;
  }
}

.m-product__hero {
  @apply c flex w-full flex-col items-center justify-start sm:pt-24 md:pt-48;

  &__heading {
    @apply text-center text-4xl font-bold leading-tight text-primary sm:text-5xl md:text-6xl;
  }

  &__paragraph {
    @apply mx-auto mt-8 max-w-xl text-center text-lg leading-7 sm:text-xl sm:leading-9 text-balance;
  }

  &__cta {
    @apply mt-8 px-10 py-2 flex items-center justify-center whitespace-nowrap rounded-sm transition duration-200 disabled:pointer-events-none bg-secondary text-white shadow hover:bg-secondary-2 hover:shadow-xl hover:scale-102;
  }

  &__media {
    @apply mt-16 max-w-4xl;
  }
}

.m-product__problems {
  @apply c mt-48;

  &__list {
    @apply mt-16 flex flex-col md:flex-row justify-center gap-8;
  }

  &__problem {
    @apply max-w-xs p-4 space-y-4;

    &__icon {
      @apply w-12 h-12 flex items-center justify-center p-2.5 bg-secondary rounded-full text-white;
    }

    &__heading {
      @apply text-2xl;
    }
  }
}

.m-product__solutions {
  @apply c py-24 mt-48 bg-neutral-100;

  &__solutions {
    @apply mx-auto mt-16 grid grid-cols-1 gap-6 text-body-light md:max-w-3xl md:grid-cols-2 xl:grid-rows-2 md:grid-rows-3 xl:max-w-6xl xl:auto-rows-fr xl:grid-cols-3;
  }

  &__solution {
    @apply relative p-6 flex flex-col overflow-hidden bg-pure-white rounded-2xl transition-all duration-500;

    &:nth-child(1),
    &:nth-child(2) {
      @apply justify-between;
    }

    &:nth-child(1) {
      @apply order-1 xl:order-none;
    }

    &:nth-child(2) {
      @apply order-3 xl:order-none;
    }

    &:nth-child(3) {
      @apply order-2 xl:order-none md:row-span-2;

      .m-product__solutions__solution__media {
        @apply h-full translate-x-6;

        img {
          @apply h-full object-cover object-left-top;
        }
      }
    }

    &:nth-child(4) {
      @apply order-4 xl:order-none md:col-span-2;

      .m-product__solutions__solution__media {
        @apply max-w-md mx-auto;
      }
    }

    @include hover {
      @apply bg-secondary-2;

      .m-product__solutions__solution {
        &__paragraph,
        &__heading {
          @apply text-white;
        }
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4) {
        .m-product__solutions__solution__media {
          @apply -translate-y-4;
        }
      }

      &:nth-child(3) {
        .m-product__solutions__solution__media {
          @apply -translate-x-0;
        }
      }
    }

    &__heading {
      @apply font-semibold mb-2 text-primary;
    }

    &__paragraph,
    &__heading {
      @apply transition duration-500;
    }

    &__media {
      @apply -mb-7 mt-8 w-full select-none drop-shadow-[0_0_28px_rgba(0,0,0,.1)] transition-transform duration-500;
    }
  }
}

.m-product__steps {
  @apply c mt-48;

  &__list {
    @apply mt-16;

    &__item {
      @apply flex flex-col items-center gap-4;
    }

    &__header {
      @apply flex items-center gap-8 -translate-x-6;
    }

    &__content {
      &__heading {
        @apply text-xl font-bold;
      }

      ul {
        @apply mt-2 text-body-light list-disc list-inside;
      }
    }

    &__media {
      @apply w-[90%] drop-shadow-[0_0_28px_rgba(0,0,0,.1)];
    }

    // desktop
    @include breakpoint(lg) {
      @apply flex items-center justify-center gap-12;

      &__contents {
        @apply max-w-sm flex flex-col gap-4;
      }

      &__header {
        @apply relative pl-12 pr-14 py-2 translate-x-0 rounded-md transition-colors duration-500;

        &::before,
        &::after {
          @apply absolute top-0 left-0 w-1 h-full  rounded-md;
          content: '';
        }

        &::before {
          @apply bg-neutral-100;
        }

        &::after {
          @apply bg-secondary-2 scale-y-0 transition-transform duration-500 origin-top;
        }

        &.is-active {
          @apply bg-neutral-100;

          &::after {
            @apply scale-y-100;
          }
        }
      }

      &__medias {
        @apply max-w-2xl flex-1 grid w-full;
      }

      &__media {
        @apply opacity-0 blur-sm transition-all duration-[250] delay-[0];

        grid-area: 1/1/2/2;

        &.is-active {
          @apply opacity-100 blur-none delay-[0.25s];
        }
      }
    }
  }
}
