@import '__mixins.scss';

.p-posts {
  @apply c 2xl:px-0 max-w-3xl mx-auto mt-32 mb-16 min-h-[80vh];

  &__header {
    @apply pb-4 mb-8 border-b-2 border-gray-200;
  }

  &__list {
    @apply mb-20 flex flex-col;

    @include breakpoint('lg') {
      &:hover {
        .p-posts__item {
          @apply blur-[2.5px];
        }
      }
    }
  }

  &__item {
    @apply relative py-4 lg:py-6 transition duration-400;

    @include breakpoint('lg') {
      &.p-posts__item:hover {
        @apply scale-[1.12] blur-0;
      }

      &:has(+ .p-posts__item:hover),
      &:hover + .p-posts__item {
        @apply scale-[1.025] blur-[0.5px];
      }

      &:has(+ .p-posts__item + .p-posts__item:hover),
      &:hover + .p-posts__item + .p-posts__item {
        @apply scale-[1.01] blur-[1px];
      }
    }

    &__title {
      @apply font-bold text-xl text-secondary;
    }

    &__info {
      @apply mt-1 mb-2 flex gap-2 text-xs text-gray-500 italic;
    }

    &__link {
      @apply absolute inset-0;
    }
  }

  &__pagination {
    @apply flex gap-3 md:gap-6 justify-center text-base;
  }
}

// *** Animation ***
.p-posts {
  &__header {
    opacity: 0;
    animation:
      fade-in 0.6s linear forwards,
      slide-up 0.4s ease-in-out;
  }

  &__item {
    opacity: 0;
    animation:
      fade-in 0.6s linear forwards,
      slide-up 0.4s ease-in-out;
    @for $i from 0 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.1s;
      }
    }
  }
}
