@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Noto+Sans+TC:wght@200;300;400;500;600;700;800&family=Noto+Serif+TC:wght@300;400;500;600;700&display=swap');

body, html {
  font-family: '微軟正黑體', 'Noto Sans TC';
  @apply min-h-full font-semibold
}

code {
  font-family: 'JetBrains Mono', monospace;
}

h1, h2, h3, h4 {
  font-family: 'Noto Serif TC';
  @apply text-primary
}

::selection {
  @apply bg-primary text-white
}

