@import '__mixins.scss';

#main,
#g-footer {
  transition: filter 0.1s 0.2s linear;
}

:root.is-megamenu-open {
  #main,
  #g-footer {
    @apply blur-lg delay-0;
  }

  .g-header {
    @apply translate-y-0;
  }
}

:root.is-mobile-menu-open {
  #main,
  #g-footer {
    @apply blur-lg delay-0;
  }
}

// *** Header ***
.g-header {
  @apply c fixed top-[var(--announcement-height,_0px)] isolate z-header w-full py-4 transition-all duration-400;

  &.is-scrolled {
    @apply bg-white py-2 shadow-sm;

    .g-header__logo {
      &__text {
        @apply -translate-x-[40px];
      }
      &__img {
        @apply scale-0 opacity-0;
      }
    }
  }

  &__container {
    @apply flex items-center justify-between;
  }

  &__logo {
    @apply flex items-center gap-4;

    &__img {
      @apply origin-left -translate-y-[1px] scale-100 transition duration-400;
    }

    &__text {
      @apply translate-x-0 font-mono font-semibold transition-transform duration-400;
    }
  }

  &__desktop {
    @apply hidden text-sm md:flex md:gap-6;
  }

  &__mobile {
    @apply grid place-content-center md:hidden;
  }

  &__overlay {
    @apply fixed left-0 top-0 z-10 h-screen w-full;
  }

  &__megamenu-trigger {
    @apply hover:text-blue-1 relative whitespace-nowrap text-gray-500 transition-colors duration-200;
  }

  &__normal-link {
    @apply block whitespace-nowrap p-1;

    &.is-button {
      @apply px-6 py-1;
    }
  }
}

// *** Posts Megamenu ***
.g-header__posts-megamenu {
  @apply pointer-events-none fixed top-[calc(var(--header-height)_+_16px)] z-10 grid max-h-[80vh] scale-50 grid-cols-3 overflow-auto rounded-md bg-header p-4 opacity-0 shadow-[0_0_28px_rgba(0,0,0,.1)] transition duration-300;

  &.is-active {
    @apply pointer-events-auto scale-100 opacity-100 duration-400;

    .g-header__posts-megamenu {
      &__item {
        @apply opacity-100 duration-700;
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            transition-delay: ($i - 1) * 0.1s + 0.2s;
          }
        }
      }
    }
  }

  @include breakpoint('md') {
    left: var(--s-edge-dynamic);
    right: var(--s-edge-dynamic);
  }

  @include breakpoint('lg') {
    left: min(calc(3 * var(--s-edge-dynamic)), 15vw);
    right: min(calc(3 * var(--s-edge-dynamic)), 15vw);
  }

  &__item {
    @apply opacity-0 transition-opacity delay-0 duration-400;
  }

  &__link {
    @apply block h-full rounded-md p-4 transition duration-200 hover:bg-slate-300;
    &:hover {
      --tw-bg-opacity: 0.2;
    }
  }

  &__categories {
    @apply absolute bottom-2 left-0 mx-4 flex select-none gap-1 overflow-y-auto py-2 text-gray-600 scrollbar-thumb-[#00000033] scrollbar-thumb-rounded-full scrollbar-h-1 active:scrollbar-thumb-blue;

    &::-webkit-scrollbar {
      height: 0.25em;
    }

    &__link {
      @apply hover:bg-blue-1 inline-block rounded-full bg-gray-200 px-2.5 py-1 text-xs transition hover:text-white;
    }
  }
}

// *** Mobile Menu ***
.g-header__mobile-menu {
  @apply fixed left-0 top-0 -z-10 h-svh w-full bg-header;

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.6s var(--t-circ-ease-in-out);

  &.is-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  &__content {
    @apply c mt-6 flex h-full flex-col overflow-y-auto pb-4 pt-header text-black text-blue;
  }

  &__accordion {
    @apply border-b border-blue;

    &__link {
      @apply block p-4 font-semibold;
    }

    &__list {
      @apply mb-8 ml-6 mt-2 flex flex-col gap-2;
    }
  }

  &__link {
    @apply block border-b border-blue p-4 font-semibold;
  }

  &__button {
    @apply mt-8;
  }
}

// *** Mobile Menu Trigger ***
.g-header__mobile-menu__trigger {
  @apply relative h-[16px] w-[24px] cursor-pointer;

  &::before,
  &::after {
    @apply absolute h-[3px] w-full rounded-[6px] bg-neutral-900;

    content: '';
    transform: translateY(0px) scale(1) rotate(0);
  }

  &::after {
    @apply left-0 top-0;
    animation: reverse-top-line 0.6s ease-in-out forwards;
  }

  &::before {
    @apply bottom-0 right-0 w-[80%];
    animation: reverse-bottom-line 0.6s ease-in-out forwards;
  }

  &.is-open {
    &::after {
      transform: translateY(0px) scale(1) rotate(0);
      animation: is-open-top-line 0.6s ease-in-out forwards;
    }

    &::before {
      transform: translateY(0) scale(1) rotate(0);
      animation: is-open-bottom-line 0.6s ease-in-out forwards;
    }
  }

  &.is-initial {
    &::after,
    &::before {
      animation-duration: 0s;
    }
  }

  @keyframes is-open-top-line {
    0% {
      transform: translateY(0px) scale(1) rotate(0);
    }

    50% {
      transform: translateY(-5px) scale(1.1) rotate(0);
    }

    100% {
      transform: translateY(6.5px) scale(1) rotate(-45deg);
    }
  }

  @keyframes is-open-bottom-line {
    0% {
      width: 80%;
      transform: translateY(0px) scale(1) rotate(0);
    }

    50% {
      width: 100%;
      transform: translateY(5px) scale(1.1) rotate(0);
    }

    100% {
      width: 100%;
      transform: translateY(-6.5px) scale(1) rotate(45deg);
    }
  }

  @keyframes reverse-top-line {
    0% {
      transform: translateY(6.5px) scale(1) rotate(-45deg);
    }

    50% {
      transform: translateY(-5px) scale(1.1) rotate(0);
    }

    100% {
      transform: translateY(0px) scale(1) rotate(0);
    }
  }

  @keyframes reverse-bottom-line {
    0% {
      width: 100%;
      transform: translateY(-6.5px) scale(1) rotate(45deg);
    }

    50% {
      width: 100%;
      transform: translateY(5px) scale(1.1) rotate(0);
    }

    100% {
      width: 80%;
      transform: translateY(0px) scale(1) rotate(0);
    }
  }
}
