@import '__mixins.scss';

// *** Post ***
.p-post {
  @apply pt-4 c;
}

// *** Post Header ***
.p-post__header {
  @apply mb-[5vh] flex justify-center gap-8;

  &__decoration {
    @apply hidden w-[15vw] md:block;

    background: radial-gradient(rgba(0, 0, 0, 0.5) 1px, transparent 1px) center/ 32px 32px;
  }

  &__content {
    @apply grid min-h-[80vh] flex-auto place-content-center gap-12 text-center;
  }

  &__info {
    @apply flex flex-col items-center justify-center text-xs text-gray-600 md:flex-row md:gap-4 md:text-sm;
  }

  &__title {
    @apply text-3xl font-semibold drop-shadow-md md:text-4xl md:leading-relaxed;
  }

  &__author {
    @apply flex items-center justify-center gap-4 md:justify-between md:gap-16;

    &__decoration {
      @apply inline-block h-[1px] flex-1 bg-[rgba(0,0,0,0.1)] md:bg-[rgba(0,0,0,0.3)];
    }

    &__name {
      @apply text-xs text-gray-600;
    }
  }
}

// *** Post Body ***
.p-post {
  &__body {
    @apply flex flex-col-reverse items-center transition xl:flex-row xl:justify-center;
  }

  &__article {
    @apply prose w-full max-w-3xl 3xl:prose-lg;
  }

  &__sidebar {
    --top: calc(16px + var(--header-height));

    @apply mb-8 w-full max-w-3xl border p-8 xl:sticky xl:top-[var(--top)] xl:mb-0 xl:max-w-xs xl:self-start xl:overflow-y-auto xl:border-0 xl:py-0 xl:pl-edge xl:pr-4;

    &__menu {
      @apply xl:max-h-[50vh] xl:scrollbar-w-1;
    }

    &__header {
      @apply mb-2 flex items-center justify-between gap-2;
    }

    &__body {
      @apply flex flex-col gap-2 text-sm;
    }

    &__recommendations {
      @apply mt-4 hidden border-t border-gray-200 py-4 xl:block xl:w-full;
    }

    &__recommendation {
      @apply rounded-md bg-white p-3 shadow-md;

      &__title {
        @apply mb-1 px-1 font-bold text-primary;
      }

      &__img {
        @apply relative mb-3;

        &__cta {
          @apply bg-primary/80 absolute inset-0 z-10 flex items-center justify-center text-sm tracking-wider text-white opacity-0 backdrop-blur-sm transition duration-200 hover:opacity-100;
        }
      }

      &__content {
        @apply mb-3 px-2 text-sm text-gray-500;

        ul,
        ol {
          @apply mb-1 list-inside;
        }

        li {
          @apply mb-0.5;
        }

        ul {
          @apply list-disc;
        }

        ol {
          @apply list-decimal;
        }
      }
    }
  }
}

// *** animation ***

.p-post {
  &__header {
    &__decoration,
    &__info,
    &__title,
    &__author__name {
      opacity: 0;
    }

    &__decoration {
      animation: fade-in 0.6s linear forwards;
    }

    &__info {
      animation: fade-in 0.6s linear forwards;
    }
    &__title {
      animation: fade-in 0.6s 0.2s linear forwards;
    }

    &__author {
      &__decoration {
        &:first-of-type {
          transform-origin: left;
        }

        &:last-of-type {
          transform-origin: right;
        }

        transform: scale(0);
        animation: slide-in 1.2s 0.4s ease-in-out forwards;
        @keyframes slide-in {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
      }

      &__name {
        animation: fade-in 0.6s 0.6s linear forwards;
      }
    }
  }

  &__article {
    opacity: 0;
    animation: fade-in 0.6s 0.8s linear forwards;
  }

  &__sidebar {
    opacity: 0;
    animation: fade-in 0.6s 1s linear forwards;
  }
}
