@import '__mixins.scss';

.p-posts {
  @apply mx-auto max-w-3xl py-16 c 2xl:px-0;

  min-height: 80vh;
  min-height: 80svh;

  &__header {
    @apply mb-8 border-b-2 border-gray-200 pb-4;
  }

  &__list {
    @apply mb-20 flex flex-col;
  }

  &__item {
    @apply relative py-4 transition duration-400 lg:py-6;

    @include hover {
      @apply scale-[1.03];
    }

    &__title {
      @apply text-xl font-semibold text-secondary;
    }

    &__info {
      @apply mb-2 mt-1 flex gap-2 text-xs italic text-gray-500;
    }

    &__link {
      @apply absolute inset-0;
    }
  }

  &__pagination {
    @apply flex justify-center gap-3 text-base md:gap-6;
  }
}

// *** Animation ***
.p-posts {
  &__header {
    opacity: 0;
    animation:
      fade-in 0.6s linear forwards,
      slide-up 0.4s ease-in-out;
  }

  &__item {
    opacity: 0;
    animation:
      fade-in 0.6s linear forwards,
      slide-up 0.4s ease-in-out;
    @for $i from 0 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.1s;
      }
    }
  }
}
