@import '__mixins.scss';

// *** Post ***
.p-post {
  @apply pt-4 c;
}

// *** Post Header ***
.p-post__header {
  @apply mb-12 flex justify-center gap-8;

  &__decoration {
    @apply hidden w-[15vw] md:block;

    background: radial-gradient(rgba(0, 0, 0, 0.5) 1px, transparent 1px) center/ 32px 32px;
  }

  &__content {
    @apply grid flex-auto place-content-center gap-12 text-center;

    min-height: 80vh;
    min-height: 80svh;
  }

  &__info {
    @apply flex flex-col items-center justify-center text-xs text-gray-600 md:flex-row md:gap-4 md:text-sm;
  }

  &__title {
    @apply text-3xl font-semibold drop-shadow-md md:text-4xl md:leading-relaxed;
  }

  &__author {
    @apply flex items-center justify-center gap-4 md:justify-between md:gap-16;

    &__decoration {
      @apply inline-block h-[1px] flex-1 bg-[rgba(0,0,0,0.1)] md:bg-[rgba(0,0,0,0.3)];
    }

    &__name {
      @apply text-xs text-gray-600;
    }
  }
}

// *** Post Body ***
.p-post {
  --top: calc(32px + var(--header-height));

  &__body {
    @apply flex flex-col items-center transition xl:flex-row xl:justify-center;
  }

  &__related {
    @apply rounded border border-gray-200 bg-gray-100 px-6 py-8 shadow;

    &__heading {
      margin-top: 0px !important;
    }
  }

  &__article {
    @apply prose w-full max-w-3xl 3xl:prose-lg xl:shrink-0;
  }

  &__toc {
    @apply w-full max-w-3xl border border-gray-200 p-8 shadow xl:sticky xl:top-[var(--top)] xl:mb-0 xl:mr-[1.25vw] xl:max-w-64 xl:flex-1 xl:self-start xl:overflow-y-auto xl:border-0 xl:py-0 xl:pl-0 xl:pr-[0.25vw] xl:shadow-none;

    &__menu {
      @apply xl:scrollbar-w-1;

      @include breakpoint('xl') {
        max-height: 60vh;
        max-height: 60svh;
      }
    }

    &__header {
      @apply mb-4 flex items-center justify-between gap-2 font-bold text-primary;
    }

    &__body {
      @apply flex flex-col gap-3 text-sm;
    }

    &__recommendations {
      @apply mt-8 hidden border-t border-gray-200 p-2 pt-8 xl:flex xl:w-full;
    }
  }

  &__sidebar {
    @apply w-full max-w-3xl xl:sticky xl:top-[var(--top)] xl:mb-0 xl:max-w-xs xl:flex-1 xl:self-start xl:pl-edge-xs;
  }

  &__recommendations {
    @apply mt-12 flex-col gap-6 xl:mt-0;
  }

  &__recommendation {
    @apply rounded-md border border-gray-200 p-4 shadow md:p-8 xl:p-3.5;

    &__title {
      @apply mb-2 px-1 font-bold text-primary md:mb-6 md:text-2xl xl:mb-2 xl:text-base;
    }

    &__img {
      @apply relative;

      &__cta {
        @apply absolute inset-0 z-10 flex items-center justify-center bg-primary/80 text-sm tracking-wider text-white opacity-0 backdrop-blur-sm transition duration-200 hover:opacity-100 md:text-xl lg:text-sm;
      }
    }

    &__content {
      @apply mt-3 px-2 text-sm text-gray-500 md:text-base xl:text-sm;

      ul,
      ol {
        @apply my-1 list-inside md:mb-2 xl:mb-1;
      }

      li {
        @apply mb-0.5 md:mb-1 xl:mb-0.5;
      }

      ul {
        @apply list-disc;
      }

      ol {
        @apply list-decimal;
      }
    }

    &__cta {
      @apply mt-3 w-full md:mt-4 md:py-2 xl:mt-3 xl:py-1;
    }
  }
}

// *** animation ***
.p-post {
  &__header {
    &__decoration,
    &__info,
    &__title,
    &__author__name {
      opacity: 0;
    }

    &__decoration {
      animation: fade-in 0.6s linear forwards;
    }

    &__info {
      animation: fade-in 0.6s linear forwards;
    }
    &__title {
      animation: fade-in 0.6s 0.2s linear forwards;
    }

    &__author {
      &__decoration {
        &:first-of-type {
          transform-origin: left;
        }

        &:last-of-type {
          transform-origin: right;
        }

        transform: scale(0);
        animation: slide-in 1.2s 0.4s ease-in-out forwards;
        @keyframes slide-in {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
      }

      &__name {
        animation: fade-in 0.6s 0.6s linear forwards;
      }
    }
  }

  &__toc {
    opacity: 0;
    animation: fade-in 0.6s 0.8s linear forwards;
  }

  &__article {
    opacity: 0;
    animation: fade-in 0.6s 1s linear forwards;
  }

  &__sidebar {
    opacity: 0;
    animation: fade-in 0.6s 1.2s linear forwards;
  }
}
